/* div {
  background: rgb(162, 127, 243);
  color: white;
  padding: 10px;
  font-family: 고딕;
  text-align: center;
} */


#basic {
  background: rgb(162, 127, 243);
  color: rgb(66, 65, 65);
  padding: 10px;
  font-family: 고딕;
  font-size: 1rem;
  text-align: center;
}
#p1 {
  color: black;
  font-weight: bold;
}
#exercise {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 20px;
  font-family: 고딕;
  text-align: center;
  min-height: 400px;
}
#cording {
  background: grey;
  color: blue;
  padding: 30px 0px 0px 20px;
}